<div class="card text-center">
  <div class="card-header">
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav justify-content-end gap-3">

        <li class="nav-item">
          <div class="form-check form-switch form-check-reverse display-6">
            <input class="form-check-input" type="checkbox" role="switch" id="darkModeSwitch">
          </div>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="btn btn-outline-primary btn-rounded {% if view_name  == 'users:profile' %}active{% endif %}" href="{%url 'users:profile' user.id %}">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary btn-rounded {% if view_name  == 'users:password_change' %}active{% endif %}" href="{%url 'users:password_change'%}">Изменить пароль</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary btn-rounded {% if view_name  == 'users:password_reset' %}active{% endif %}" href="{%url 'users:password_reset'%}">Восстановить пароль</a>
          </li>
            <li class="nav-item">
                <form method='post' action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-primary btn-rounded {% if view_name  == 'users:logout' %}active{% endif %}" type="submit">Выйти</button>
                </form>
            </li>
        {% else %}
        <li class="nav-item">
         <a class="btn btn-outline-primary btn-rounded {% if view_name  == 'users:login' %}active{% endif %}" href="{%url 'users:login'%}">Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="btn btn-outline-primary btn-rounded
          {% if view_name  == 'users:signup' %}
          active
          {% endif %}"
          href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        {% endif %}
      </ul>
      {% endwith %} 
  </div>
</div>



    <div class="card">
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'homepage:homepage' %}active{% endif %}" href="{%url 'homepage:homepage'%}">ГЛАВНАЯ</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'case:patient_create' %}active{% endif %}" href="{%url 'case:patient_create'%}">Создать</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'audio:audio' %}active{% endif %}" method='post' href="{%url 'audio:audio'%}">Загрузит аудио</a>
        </li>
        {% endif %}

      </ul>
      
      <div class="card-body d-flex flex-row gap-3">
        {% if view_name == 'homepage:homepage' %}
        <a class="nav-link" href="{%url 'homepage:homepage'%}">ГЛАВНАЯ</a>
        <p>Текст</p>
        {% elif view_name == 'case:patient_create' %}
          <p>Текс</p>
        {% elif view_name == 'audio:audio' %}
          <p>Проблемы подключния микрофона. Вы не сможете воспользоваться функцией записи голоса. Подключите микрофон, обновите страницу. Включите кнопку Record, при записи изменится цвет кнопики на красный.</p>
        {% endif %}
      </div>
      {% endwith %} 
    </div>
